force-app/main/default/flows/Translate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>getTranslation</name>
        <label>getTranslation</label>
        <locationX>391</locationX>
        <locationY>80</locationY>
        <actionName>translate_translatePOST__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_translation</targetReference>
        </connector>
        <inputParameters>
            <name>translatePOST_input_target</name>
            <value>
                <elementReference>Languages</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>translatePOST_input_text</name>
            <value>
                <elementReference>getCourse.Description__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>translationResult</assignToReference>
            <name>translatePOST_output_200_translation_200</name>
        </outputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>Languages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language_Code__c</picklistField>
        <picklistObject>Translation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Translate Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Translate Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_translation</name>
        <label>create translation</label>
        <locationX>59</locationX>
        <locationY>223</locationY>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>translationResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_Code__c</field>
            <value>
                <elementReference>Languages</elementReference>
            </value>
        </inputAssignments>
        <object>Translation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCourse</name>
        <label>get Course</label>
        <locationX>174</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Language</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>What_Language</name>
        <label>What Language</label>
        <locationX>279</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getTranslation</targetReference>
        </connector>
        <fields>
            <name>Language</name>
            <choiceReferences>Languages</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCourse</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>translationResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
